@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

body, p, a, button, span, h1, h2, h3, h4, h5, h6 {
    font-family: 'Almarai', sans-serif !important;
}

.form-control {
    font-size: 1.5rem;
}


/*Dark green theme*/

.btn.btn-primary {
    color: #fff;
    background-color: #2a6a3b;
    border-color: #2a6a3b;
}

.text-primary {
    color: #2a693b!important;
}

.login-aside {
    
    background: url("../../assets/media/logos/logo_bg.png") bottom center no-repeat #2a6a3b;
}

a.text-primary:focus, a.text-primary:hover {
    color: #41a05b!important;
}

.btn.btn-primary:not(:disabled):not(.disabled).active, .btn.btn-primary:not(:disabled):not(.disabled):active:not(.btn-text), .show .btn.btn-primary.btn-dropdown, .show>.btn.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #008e26!important;
    border-color: #008e26!important;
}

.form-control.form-control-solid {
    background-color: #f7fbf8;
    border-color: #dfdfdf;
}


.form-control.form-control-solid.active, .form-control.form-control-solid.focus, .form-control.form-control-solid:active, .form-control.form-control-solid:focus {
    background-color: #e2f7e7!important;
    border-color: #2a693b!important;
  }

  /*index page colors*/

  .aside {
    background-color: #2a6a3b;
}

.aside-menu {
    background-color: #2a6a3b;
}

/*End of Dark green theme*/