@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

body,
p,
a,
button,
span,
h1,
h2,
h3,
h4,
h5,
h6,
.tooltip {
    font-family: 'Almarai', sans-serif !important;
}

.form-control {
    font-size: 1.5rem;
}

.swal2-icon.swal2-success {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}



.brand {
    padding: 0 10px;
    height: 72px;
}

@media (max-width: 991.98px) {
    .header-mobile-fixed .header-mobile {
        height: 65px;
        min-height: 65px;
    }
}

 


.datatable.datatable-default.datatable-head-custom>.datatable-table>.datatable-foot .datatable-row>.datatable-cell>span, .datatable.datatable-default.datatable-head-custom>.datatable-table>.datatable-head .datatable-row>.datatable-cell>span {
    
    letter-spacing: normal;
    font-size: 1.2em;
}

.datatable.datatable-default>.datatable-table>.datatable-body .datatable-row>.datatable-cell>span, .datatable.datatable-default>.datatable-table>.datatable-foot .datatable-row>.datatable-cell>span, .datatable.datatable-default>.datatable-table>.datatable-head .datatable-row>.datatable-cell>span {
    font-size: 1.1em;
}

.form-group label {
    font-size: 1.1rem;
    font-weight: 400;
    color: #333333;
}

.modal-body .form-control,
.card-custom .form-control{
    font-size: 1.2em;
    line-height: 3;
}

#kt_header_mobile_toggle {
    display: none!important;
}

.hajj-card {
    border-radius: 15px;
}