/*Dark green theme*/

.colors {
    color: #0d480f;
    /*Color 1*/
    color: #388e3c;
    /*Color 2*/
    color: #8bc34a;
    /*Color 3*/
    color: #dce775;
    /*Color 4*/
    color: #fff59d;
    /*Color 5*/
}

.bg-primary {
    background-color: #388e3c !important;
}

.bg-light-primary {
    background-color: #cfe4cf !important;
}
 
.nav .nav-link:hover:not(.disabled) .nav-icon .svg-icon svg g [fill] {
    fill: #388e3c;
}

.nav .nav-link.active:hover:not(.disabled) .nav-icon .svg-icon svg g [fill] {
    fill:#ffffff;
}

.nav .nav-link:hover:not(.disabled) .nav-text {
    color: #388e3c 
}
.nav .nav-link.active:hover:not(.disabled) .nav-text {
    color: #ffffff 
}

.btn.btn-hover-light-primary:not(:disabled):not(.disabled).active, .btn.btn-hover-light-primary:not(:disabled):not(.disabled):active:not(.btn-text), .show .btn.btn-hover-light-primary.btn-dropdown, .show>.btn.btn-hover-light-primary.dropdown-toggle {
    color: #388e3c !important;
    background-color: #dce775 !important;
     
}

.nav.nav-tabs.nav-tabs-line.nav-tabs-line-3x .nav-link.active, 
.nav.nav-tabs.nav-tabs-line.nav-tabs-line-3x .nav-link:hover:not(.disabled), 
.nav.nav-tabs.nav-tabs-line.nav-tabs-line-3x .show>.nav-link {
    border-bottom: 3px solid #388e3c;
}


.nav .nav-link.active, .nav .nav-link.active .nav-icon i, .nav .nav-link.active .nav-text, .nav .nav-link:hover:not(.disabled), .nav .nav-link:hover:not(.disabled) .nav-icon i, .nav .nav-link:hover:not(.disabled) .nav-text, .nav .show>.nav-link, .nav .show>.nav-link .nav-icon i, .nav .show>.nav-link .nav-text {
    
    color: #388e3c;
}


.btn.btn-icon-primary .svg-icon svg g [fill] {
     
    fill: #388e3c;
}

.btn.btn-icon-primary i {
    color: #388e3c;
}

.btn.btn-hover-light-primary:hover:not(.btn-text):not(:disabled):not(.disabled) {
    color: #388e3c;
    background-color: #dce775;    
}

.btn.btn-clean:not(:disabled):not(.disabled):active:not(.btn-text) {
    background-color: #dce775;
}

.btn.btn-hover-text-primary:hover:not(.btn-text):not(:disabled):not(.disabled),
.btn.btn-hover-text-primary:not(:disabled):not(.disabled):active:not(.btn-text) {
    color: #388e3c!important;
} 


.nav.nav-pills.nav-dark .nav-link.active {
    color: #fff;
    background-color: #388e3c;
}


.swal2-icon.swal2-success {
    border-color: #398e3d;
    color: #388e3c;
}

.swal2-icon.swal2-success .swal2-success-ring {
    border-color: rgba(57, 142, 61, 0.3);
}

.btn.btn-primary {
    color: #fff;
    background-color: #0d480f;
    border-color: #0d480f;
}

.text-primary {
    color: #2a693b !important;
}

.login-aside {

    background: url("../../assets/media/logos/logo_bg.png") bottom center no-repeat #0d480f;
}

a.text-primary:focus,
a.text-primary:hover {
    color: #388e3c !important;
}

.btn.btn-primary:not(:disabled):not(.disabled).active,
.btn.btn-primary:not(:disabled):not(.disabled):active:not(.btn-text),
.show .btn.btn-primary.btn-dropdown,
.show>.btn.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #388e3c !important;
    border-color: #388e3c !important;
}

.btn.btn-primary.focus:not(.btn-text),
.btn.btn-primary:focus:not(.btn-text),
.btn.btn-primary:hover:not(.btn-text):not(:disabled):not(.disabled) {
    color: #fff;
    background-color: #388e3c !important;
    border-color: #388e3c !important;
}

.form-control.form-control-solid {
    background-color: #f7fbf8;
    border-color: #dfdfdf;
}


.form-control.form-control-solid.active,
.form-control.form-control-solid.focus,
.form-control.form-control-solid:active,
.form-control.form-control-solid:focus {
    background-color: #e2f7e7 !important;
    border-color: #2a693b !important;
}

.btn.btn-light-primary {
    color: #ffffff !important;
    background-color: #388e3c !important;

}

/*index page colors*/

.aside {
    background-color: #0d480f;
}

.aside-menu {
    background-color: #0d480f;
}

.aside-menu .menu-nav>.menu-item>.menu-heading .menu-text,
.aside-menu .menu-nav>.menu-item>.menu-link .menu-text {
    color: #ffffff;
}

.aside-menu .menu-nav>.menu-item>.menu-heading .menu-icon.svg-icon svg g [fill],
.aside-menu .menu-nav>.menu-item>.menu-link .menu-icon.svg-icon svg g [fill] {

    fill: #ffffff;
}

.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-heading .menu-icon.svg-icon svg g [fill],
.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link .menu-icon.svg-icon svg g [fill] {

    fill: #dce775;
}

.aside-menu .menu-nav>.menu-section .menu-icon,
.aside-menu .menu-nav>.menu-section .menu-text {
    color: #dce775;
}

.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading .menu-icon,
.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link .menu-icon {
    color: #ffffff;
}

.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading,
.aside-menu .menu-nav>.menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link {
    background-color: #165f19;
}

.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-heading,
.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link {
    background-color: #165f19;
}

.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-heading,
.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-link {
    background-color: #165f19;
}

.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-heading .menu-icon.svg-icon svg g [fill],
.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-link .menu-icon.svg-icon svg g [fill] {
    color: #dce775 !important;
}

.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-heading .menu-icon,
.aside-menu .menu-nav>.menu-item.menu-item-open>.menu-link .menu-icon {
    color: #dce775 !important;
}

.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item>.menu-heading .menu-text,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item>.menu-link .menu-text {
    color: #ffffff;
}

.nav.nav-pills .nav-link.active,
.nav.nav-pills .show>.nav-link {
    background-color: #388e3c;
}

.menu-item i {
    color: #ffffff;
}

.menu-item-active i {
    color: #dce775;
}

.svg-icon.svg-icon-primary svg g [fill] {

    fill: #388e3c !important;
}

.scrolltop {
    background-color: #388e3c;
}

.btn.btn-light-primary .svg-icon svg g [fill] {
     
    fill: #dce775;
}

.btn.btn-hover-primary.focus:not(.btn-text),
.btn.btn-hover-primary:focus:not(.btn-text),
.btn.btn-hover-primary:hover:not(.btn-text):not(:disabled):not(.disabled) {

    background-color: #388e3c !important;
    border-color: #388e3c !important;
}























@media (min-width: 992px) {
    .brand {
        background-color: #ffffff;

    }

    .brand .btn .svg-icon svg g [fill] {

        fill: #cccccc;
    }

    .brand .btn.active .svg-icon svg g [fill],
    .brand .btn:hover .svg-icon svg g [fill] {

        fill: #0d480f;
    }
}




@media (max-width: 991.98px) {
    .header-mobile {
        background-color: #ffffff;
    }

    .header-mobile .btn.active .svg-icon svg g [fill],
    .header-mobile .btn:hover .svg-icon svg g [fill] {

        fill: #388e3c;
    }
}


.datatable.datatable-default>.datatable-pager>.datatable-pager-nav>li>.datatable-pager-link.datatable-pager-link-active {
     
    background-color: #388e3c;
     
}

.datatable.datatable-default.datatable-head-custom>.datatable-table>.datatable-foot .datatable-row>.datatable-cell.datatable-cell-sorted>span, .datatable.datatable-default.datatable-head-custom>.datatable-table>.datatable-head .datatable-row>.datatable-cell.datatable-cell-sorted>span {
    color: #388e3c;
}

.datatable.datatable-default>.datatable-table>.datatable-head .datatable-row>.datatable-cell>span>i {
    
    color: #388e3c;
}

.checkbox>input:checked~span {
    background-color: #388e3c;
}


.btn.btn-light-primary.dropdown-toggle:after {
    color: #ffffff;
}

.datatable.datatable-default>.datatable-table>.datatable-body .datatable-toggle-detail i {
     
    color: #388e3c;
}
 

/*end of index page colors*/

/*End of Dark green theme*/



